@use 'app/styles/variables' as *;

.spinner {
  position: relative;
  width: var(--size);
  height: var(--size);

  animation: rotate 3s linear infinite;
}

.spinner__dot {
  position: absolute;
  width: calc(var(--size) / 8);
  height: calc(var(--size) / 8);
  background-color: $color-loader-primary;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  transform: rotate(calc(360deg / var(--dots) * var(--i))) translate(calc(var(--size) / 2.5), 0)
    scale(1);
  opacity: calc(0.4 + (var(--i) / var(--dots)));
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
