$color-primary: #fff;
$color-secondary: #000;

// bg
$color-bg-screen: #f6f8f9;
$color-bg-login: #fff;
$color-bg-card: #fff;
$color-bg-card-hover: #f1f6fc;
$color-bg-card-list: #ededed;
$color-bg-calendar: #fff;
$color-bg-toast: #fff;
$color-bg-priority-purple: #ebceff;
$color-bg-priority-yellow: #ffefce;
$color-bg-priority-green: #e5ffce;

// buttons
$color-btn-primary: #3c7be1;
$color-btn-hover: #8bbfff;
$color-btn-focus: #8bbfff;
$color-btn-active: #2867cd;
$color-btn-disabled: #ededed;
$color-btn-disabled-outline: #757575;
$color-btn-secondary: #f1f6fc;
$color-btn-light: #fff;

// inputs
$color-input-outline-primary: #9e9e9e;
$color-input-outline-active: #3b78da;
$color-input-outline-hover: #8bbfff;
$color-input-outline-disabled: #ededed;

$color-input-bg-primary: #fff;
$color-input-bg-disabled: #ededed;

// icons
$color-icons-primary: #3c7be1;
$color-icons-hover: #8bbfff;
$color-icons-active: #2867cd;
$color-icons-info: #9e9e9e;
$color-icons-light: #fff;

// text
$color-text-primary: #1f1f23;
$color-text-secondary: #757575;
$color-text-active: #3c7be1;
$color-text-hover: #b0d4f5;
$color-text-disabled: #9e9e9e;
$color-text-light: #fff;
$color-text-purple: #784d99;
$color-text-yellow: #94994d;
$color-text-green: #3c8b41;
$color-text-priority-red: #994d4d;
$color-text-priority-yellow: #996d4d;
$color-text-priority-green: #3c8b41;

// scrollbar
$color-scrollbar-fill: #ededed;
$color-scrollbar-thumb: #c2c2c2;
$color-scrollbar-thumb-hover: #9e9e9e;

// status
$color-status-success: #3c8b41;
$color-status-success-hover: #e5ffce;
$color-status-warn: #b9a31a;
$color-status-error: #a82525;
$color-status-error-hover: #ffcece;
$color-status-disabled: #d9e5fb;

//priority
$color-priority-low: #3c8b41;
$color-priority-medium: #996d4d;
$color-priority-high: #994d4d;
$color-priority-low-hover: #e5ffce;
$color-priority-medium-hover: #ffefce;
$color-priority-high-hover: #ffcece;

// overlay
$color-overlay: rgba(#000, 0.4);

// loader
$color-loader-primary: #3c7be1;

// labels
$color-label-active: #e5ffce;
$color-label-text-active: #3c8b41;
$color-label-archived: #ededed;
$color-label-text-archived: #757575;

// dragNdrop
$color-drag-bg-zone: #ededed;
$color-drag-bg-border: #757575;
$color-drag-bg-active: #2867cd;
$color-drag-bg-hover: #8bbfff;

// skeletons
$color-skeleton-primary: #ededed;
$color-skeleton-secondary: #fff;
