@use 'app/styles/typography' as *;
@use 'app/styles/mixins' as *;
@use 'app/styles/variables' as *;

.btn {
  @include icon-button;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 3px 8px;
  border: 1px solid $color-input-outline-primary;
  border-radius: 4px;

  &__value {
    @include hints;
    color: $color-text-disabled;
  }
}
